<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288739641258-gif5sagfm596d5a636m78nnddivk0o2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288739641258-gif5sagfm596d5a636m78nnddivk0o2l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>288739641258-du9i1j0q564k9k1s5nblf0lhupuf514o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDoIhxd2vh1BCcu1NB2O37r2xm5WPgvKj4</string>
	<key>GCM_SENDER_ID</key>
	<string>288739641258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitsync.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fitsync-app-50831</string>
	<key>STORAGE_BUCKET</key>
	<string>fitsync-app-50831.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288739641258:ios:2d2979aa75d694da85cdd3</string>
</dict>
</plist>