.ForgetPassword .box-card {
  padding: 20.75px 58.5px;
  height: calc(100vh - 110px);
  margin: 0 auto;
}

.ForgetPassword .Back {
  width: 41.25px;
  height: 41.25px;
  background: #d1c6fc;
  display: block;
  padding: 5px 10px;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.ForgetPassword .Back svg {
  color: white;
}
.ForgetPassword .image {
  width: 74.25px;
  height: 72.75px;
  background: #f4f4f6;
  margin: 0 auto 34.25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.ForgetPassword .box-card h1 {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 8.5px;
}
.ForgetPassword .box-card p {
  font-weight: bold;
  font-size: 14px;
  max-width: 339px;
  margin: 0 auto;
  color: #989898;
}
.ForgetPassword .box-card input[type="submit"] {
  position: absolute;
  bottom: 10px;
  width: calc(100% - 117px);
}

/*UserVerification && Verification ----------------------------------- */
.ForgetPassword h1 + p span {
  color: black;
}
.ForgetPassword .box-card .UserVerification {
  font-size: 18.75px;
  font-weight: 500;
  max-width: 339px;
  margin: 39.75px auto 7.25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.UserVerification div input {
  padding: 0;
  height: 50.25px;
  width: 47.25px;
  text-align: center;
  border-color: var(--frist-color, #8d6ff8);
}
.UserVerification + p button {
  color: var(--frist-color, #8d6ff8);
  border: none;
  background: no-repeat;
  border-bottom: 1px solid;
  margin-left: 4px;
}
/*NewPassword ----------------------------------- */
.ForgetPassword .box-card .characters-8 {
  color: var(--frist-color, #8d6ff8);
  font-weight: 400;
  margin: -10px 0 30px;
}
/*reset ----------------------------------- */
.reset h1 {
  color: var(--frist-color, #8d6ff8);
}
.reset button {
  background: var(
    --main-background-color,
    linear-gradient(273.46deg, #8d70f8 19.25%, #9dcdff 126.19%)
  );
  margin-top: 50px;
  padding: 0;
  width: 100%;
  border: none;
  color: white;
  height: 68px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
