.progress-bar {
  width: 275px; /* Adjust size as needed */
  height: 275px;
  margin: 0px auto;
  padding: 0;
  position: relative;
}

#progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#progress-text img {
  height: 18px;
  width: 16.5px;
  margin-bottom: 25px;
}
#progress-text h3 {
  font-size: 30px;
  font-weight: 500;
  color: var(--frist-color, #8d6ff8);
}
#progress-text p {
  font-size: 15px;
  font-weight: 500;
  color: #868179;
}
/* Add styles for the slider thumb (optional) */

.slider-thumb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e1e1e1;
  cursor: pointer;
}
