/* Start Footer -----------------------------------*/
.footer {
  background-color: var(--dark-color, #485059);
  position: relative;
  min-height: 391.5px;
}
.footer .logo img {
  width: 25.85px;
  height: 26.95px;
}
.footer .logo > p {
  font-size: 22.5px;
  font-weight: bold;
  margin: 0;
}
.footer .logo span {
  text-transform: uppercase;
  background: var(
    --main-background-color,
    linear-gradient(273.46deg, #8d70f8 19.25%, #9dcdff 126.19%)
  );
  background-clip: text;
  color: transparent;
}
.footer .logo + p {
  font-size: 13.5px;
  font-weight: 500;
  margin-top: 20.75px;
  margin-bottom: 25.75px;
}
.footer .btn {
  width: 207.75px;
  height: 45px;
  font-size: 15px;
  font-weight: bold;
  color: var(--frist-color, #8d6ff8);
}
.footer h5 {
  font-size: 18.75px;
  font-weight: bold;
  margin-bottom: 21.5px;
}
.footer ul li {
  font-size: 13.5px;
  font-weight: 500;
}
.footer ul .text-pt-pb-il {
  margin-top: 16.75px;
  margin-bottom: 19.75px;
}
.footer .row + p {
  position: absolute;
  bottom: 22px;
  left: 50%;
  transform: translateX(-50%);
  color: #bcbcbc;
}
@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
  .footer .btn {
    margin: 0 auto 35px;
  }
  .footer .row + p {
    position: static;
    margin-top: 30px;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
}
/* End Footer -----------------------------------*/
/* .Home .profile h3 + a {
  font-size: 12px;
  font-weight: bold;
} */
.Home .profile ul {
  display: none;
  /* position: fixed; */
  background: #2b333d;
  right: 35px;
  top: 116px;
  border-radius: 7.5px;
  width: 217.5px;
  padding: 27px 18px;
}
/* @media screen and (max-width: 768px) {
  .Home .profile {
    margin-top: 12px;
  }
  .Home .profile ul {
    top: 26 px !important;
  }
}
.Home .profile ul a:hover {
  background: #2b333d;
}
.Home .profile ul a {
  font-size: 15px;
  font-weight: 500;
  color: white;
}
.Home .profile li img {
  width: 22.5px;
  height: 22.5px;
  margin-right: 34.5px;
} */

/* .gallery-container {
  width: 1000px;
  height: 400px;
  margin: 0 auto;
}
.gallery-item {
  width: 200px;
  height: 150px;
  opacity: 0;
  position: absolute;
  z-index: 0;
  border-radius: 15px;
  background-size: contain;
  transition: all 0.3s ease-in-out;
}
.gallery-item-1 {
  background: red;
  left: 15%;
  transform: translateX(-50%);
  opacity: 0.4;
}
.gallery-item-2,
.gallery-item-4 {
  width: 230px;
  height: 200px;
  opacity: 0.8;
  z-index: 1;
}
.gallery-item-2 {
  left: 30%;
  transform: translateX(-50%);
  background: blue;
}
.gallery-item-3 {
  background: green;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 250px;
  opacity: 1;
  z-index: 2;
}
.gallery-item-4 {
  background: yellow;
  left: 70%;
  transform: translateX(-50%);
}
.gallery-item-5 {
  background: black;
  left: 85%;
  transform: translateX(-50%);
  opacity: 0.4;
}

.gallery-controls {
  display: flex;
  justify-content: center;
  margin: 25px 0;
  height: 100px;
}
.gallery-controls button {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 30px;
  margin: 0 50px;
  padding: 0 12px;
  text-transform: capitalize;
}
.gallery-controls-button:focus {
  outline: none;
}
.gallery-controls-previous {
  position: relative;
}
.gallery-controls-previous::before {
  border: solid #000;
  border-width: 0 5px 5px 0;
  content: "";
  display: inline-block;
  height: 5px;
  left: -30px;
  padding: 10px;
  position: absolute;
  top: 25%;
  width: 5px;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  -webkit-transform: rotate(135deg) translateY(-50%);
  -moz-transform: rotate(135deg) translateY(-50%);
  -ms-transform: rotate(135deg) translateY(-50%);
  -o-transform: rotate(135deg) translateY(-50%);
  -webkit-transition: left 0.15s ease-in-out;
  -moz-transition: left 0.15s ease-in-out;
  -ms-transition: left 0.15s ease-in-out;
  -o-transition: left 0.15s ease-in-out;
}
.gallery-controls-previous:hover::before {
  left: -40px;
}
.gallery-controls-next {
  position: relative;
}
.gallery-controls-next::before {
  border: solid #000;
  border-width: 0 5px 5px 0;
  content: "";
  display: inline-block;
  height: 5px;
  padding: 10px;
  position: absolute;
  right: -30px;
  top: 45;
  transform: rotate(-45deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  -webkit-transform: rotate(-45deg) translateY(-50%);
  -moz-transform: rotate(-45deg) translateY(-50%);
  -ms-transform: rotate(-45deg) translateY(-50%);
  -o-transform: rotate(-45deg) translateY(-50%);
  -webkit-transition: left 0.15s ease-in-out;
  -moz-transition: left 0.15s ease-in-out;
  -ms-transition: left 0.15s ease-in-out;
  -o-transition: left 0.15s ease-in-out;
}
.galltry-controls-next:hover:before {
  right: -40px;
}
.gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}
.gallery nav li {
  background: #ccc;
  height: 10px;
  width: 10px;
  margin: 0 16px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.gallery-nav li.gallery-item-selected {
  background: #555;
} */
