/* Start Exercise   ###############################################*/
/* Start def-exercise   #############*/
.Workout .def-exercise .Content {
  width: fit-content;
}
.Workout .def-exercise .Content h2 {
  font-size: 30.72px;
  font-weight: 600;
}
.Workout .def-exercise .Content h2 + div button {
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  color: #8d6ff8;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.Workout .def-exercise .Content + button {
  border: none;
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 500;
  background: #8d6ff8;
  color: white;
  height: 58px;
  position: absolute;
  right: 0px;
  bottom: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* End def-exercise   #############*/
/* Start plan-col1   #############*/
.Workout .plan .col .card {
  border: none;
  box-shadow: 0px 22.5px 37.5px 0px #00000012;
}
.Workout .plan .col .card img {
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
}
.Workout .plan .col .card .card-body div p {
  font-size: 17px;
  font-weight: 500;
  color: #6a6a6a;
}
.Workout .plan .col .card .card-body div button {
  border: none;
  background: none;
  color: #8d6ff8;
}
.Workout .plan .col .card .card-body div button svg {
  margin-top: 4px;
  height: 22px;
}
.Workout .plan .col .card .card-body h5 {
  font-weight: bold;
  font-size: 30.72px;
  margin: 30px 0;
}
.Workout .plan .col .card .card-body h5 + button {
  width: 100%;
  border: none;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
}

/* Start OneExercise */

.swal2-image {
  width: 350px !important;
  height: 300px !important;
}
.custom-swal-title {
  color: #f8b704;
}

.isShowCard-hidden {
  display: none;
}
.isShowCard-visible {
  display: block;
}

.Workout .plan .col .OneExercise {
  border: none;
  box-shadow: 0px 22.5px 37.5px 0px #00000012;
}
.Workout .plan .col .OneExercise .card-body button.start {
  padding: 8px 10px;
  border: none;
  border-radius: 8px;
  background: #8d6ff8;
  color: white;
  font-weight: 500;
  font-size: 15px;
  margin-left: 10px;
}
.Workout .plan .col .OneExercise .card-body h4 {
  font-size: 25px;
  font-weight: 600;
}
.Workout .plan .col .OneExercise .card-body h4 span {
  color: #c9c8c8;
  font-size: 15px;
  font-weight: 400;
}
.Workout .plan .col .OneExercise .card-body h5 {
  font-weight: bold;
  font-size: 30.72px;
  margin: 20px 0;
}
.Workout .plan .col .OneExercise .card-body h5 + button {
  width: 100%;
  border: none;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
}
.Next-hidden {
  pointer-events: none;
  background: #d9d9d9;
}
.Next-continue {
  pointer-events: auto;
  background: #8d6ff8;
}
/* End OneExercise */

/* End plan-col1   #############*/
/* Start plan-col2( special-exercises )   #############*/
.Workout .special-exercises {
  max-height: 500px;
  overflow: auto;
}
.Workout .special-exercises div.exercises-box {
  cursor: pointer;
}
.Workout .special-exercises div.exercises-box:hover {
  box-shadow: -1px 1px 21.5px 8px #00000012;
}
.Workout .special-exercises::-webkit-scrollbar {
  width: 10px;
}
.Workout .special-exercises::-webkit-scrollbar-thumb {
  background: #8d6ff8;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
}
.Workout .special-exercises img {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.Workout .special-exercises svg {
  color: #8d6ff8;
  position: absolute;
  left: 29px;
  font-size: 25px;
  background: #ccccccb8;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 5px #ffffffbd;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.Workout .special-exercises .text-box .complete-video {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
/* End plan-col2( special-exercises )   #############*/

/* End Exercise   ###############################################*/
