:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.EditProfile .main-container {
  overflow: hidden;
}

.EditProfile .main-container,
.EditProfile .main-container * {
  box-sizing: border-box;
}

.EditProfile input,
.EditProfile select,
.EditProfile textarea,
.EditProfile button {
  outline: 0;
}

.EditProfile .main-container {
  position: relative;
  width: 1440px;
  height: 2079px;
  margin: 0 auto;
  background: #f5f7fa;
  overflow: hidden;
}
.EditProfile .dashboard-nav {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 480px;
  position: relative;
  width: 1440px;
  margin: 0 0 0 0;
  padding: 24px 160px 24px 160px;
  background: #ffffff;
}
.EditProfile .heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  width: 312px;
  z-index: 1;
}
.EditProfile .good-morning {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 312px;
  height: 20px;
  color: #6e7484;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.14px;
  z-index: 2;
}
.EditProfile .dashboard-settings {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 312px;
  height: 26px;
  color: #1d1f26;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
.EditProfile .frame {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 440px;
  z-index: 4;
}
.EditProfile .search {
  flex-shrink: 0;
  position: relative;
  width: 312px;
  height: 48px;
  background: #f5f7fa;
  z-index: 5;
  overflow: hidden;
}
.EditProfile .info {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 12px;
  position: relative;
  width: 89px;
  margin: 12px 0 0 18px;
  z-index: 6;
}
.EditProfile .magnifying-glass {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 7;
}
.EditProfile .magnifying-glass-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./icon_Images/4a407412-a12e-4f7f-94af-95483aca7e61.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 8;
}
.EditProfile .search-text {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #8c93a3;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.EditProfile .search-input {
  position: absolute;
  width: 312px;
  height: 48px;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  z-index: 10;
  outline: none;
}
.EditProfile .notifications {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 48px;
  padding: 12px 12px 12px 12px;
  background: #f5f7fa;
  z-index: 11;
}
.EditProfile .bell {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(./icon_Images/d0d6e4d4-5d93-4451-bdfd-7494743d11c0.png)
    no-repeat center;
  background-size: cover;
  z-index: 12;
}
.EditProfile .ellipse {
  flex-shrink: 0;
  position: relative;
  width: 48px;
  height: 48px;
  background: url(./icon_Images/8a5f8dc5-5c0d-49a2-a897-e27111b033d8.png)
    no-repeat center;
  background-size: cover;
  z-index: 13;
  border-radius: 50%;
}
.EditProfile .contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 24px;
  position: relative;
  width: 1320px;
  margin: 123px 0 0 60px;
  z-index: 14;
}
.EditProfile .instructor-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 1320px;
  padding: 40px 40px 40px 40px;
  background: #ffffff;
  z-index: 15;
}
.EditProfile .account-settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 18px;
  position: relative;
  width: 1240px;
  z-index: 16;
}
.EditProfile .frame-2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 1240px;
  z-index: 17;
}
.EditProfile .frame-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 940px;
  z-index: 18;
}
.EditProfile .account-settings-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 940px;
  height: 32px;
  color: #1d1f26;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 19;
}
.EditProfile .frame-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 18px;
  position: relative;
  width: 940px;
  z-index: 20;
}
.EditProfile .full-name {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 18px;
  position: relative;
  width: 940px;
  z-index: 21;
}
.EditProfile .input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  width: 461px;
  height: 76px;
  z-index: 22;
  overflow: hidden;
}
.EditProfile .label-full-name {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 22px;
  color: #1d1f26;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.14px;
  z-index: 23;
}
.EditProfile .input-field-5 {
  align-self: stretch;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  min-height: 0;
  font-size: 0px;
  background: #ffffff;
  border: 1px solid #e8eaef;
  z-index: 24;
  overflow: hidden;
}
.EditProfile .label-first-name {
  display: block;
  position: relative;
  height: 24px;
  margin: 13px 0 0 18px;
  color: #8c93a3;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 25;
}
.EditProfile .input {
  position: absolute;
  width: 461px;
  height: 48px;
  top: -1px;
  left: -1px;
  background: transparent;
  border: none;
  z-index: 26;
  outline: none;
}
.EditProfile .input-field-6 {
  flex-shrink: 0;
  position: relative;
  width: 461px;
  height: 48px;
  font-size: 0px;
  background: #ffffff;
  border: 1px solid #e8eaef;
  z-index: 27;
  overflow: hidden;
}
.EditProfile .label-last-name {
  display: block;
  position: relative;
  height: 24px;
  margin: 12px 0 0 18px;
  color: #8c93a3;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 28;
}
.EditProfile .input-7 {
  position: absolute;
  width: 461px;
  height: 48px;
  top: -1px;
  left: -1px;
  background: transparent;
  border: none;
  z-index: 29;
  outline: none;
}
.EditProfile .input-field-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  width: 940px;
  height: 76px;
  z-index: 30;
  overflow: hidden;
}
.EditProfile .label-username {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 22px;
  color: #1d1f26;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.14px;
  z-index: 31;
}
.EditProfile .input-field-9 {
  align-self: stretch;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
  border: 1px solid #e8eaef;
  z-index: 32;
  overflow: hidden;
}
.EditProfile .label-enter-username {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 12px;
  left: 17px;
  color: #8c93a3;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
.EditProfile .input-field-a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  width: 940px;
  height: 76px;
  z-index: 34;
  overflow: hidden;
}
.EditProfile .label-phone-number {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 22px;
  color: #1d1f26;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.14px;
  z-index: 35;
}
.EditProfile .input-field-b {
  align-self: stretch;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
  border: 1px solid #e8eaef;
  z-index: 36;
  overflow: hidden;
}
.EditProfile .your-phone-number {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 11px;
  left: 95px;
  color: #8c93a3;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 37;
}
.EditProfile .frame-c {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 6px;
  position: absolute;
  width: 60px;
  height: 22px;
  top: 12px;
  left: 17px;
  z-index: 38;
}
.EditProfile .plus-880 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 22px;
  color: #8d6ff8;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 39;
}
.EditProfile .chevron-down {
  flex-shrink: 0;
  position: relative;
  width: 12px;
  height: 12px;
  z-index: 40;
}
.EditProfile .caret-down {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./icon_Images/ccef3782-64e9-4cbf-badd-df6b7d604459.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 41;
}
.EditProfile .avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 264px;
  padding: 32px 32px 32px 32px;
  background: #f4f7f9;
  z-index: 42;
}
.EditProfile .profile-photo {
  flex-shrink: 0;
  position: relative;
  width: 200px;
  height: 200px;
  z-index: 43;
}
.EditProfile .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
  width: 200px;
  margin: 152px 0 0 0;
  padding: 12px 12px 12px 12px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 45;
}
.EditProfile .upload-simple {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 46;
}
.EditProfile .upload-simple-d {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./icon_Images/7eddb4bb-7a7a-41f8-8a9a-6411c1886884.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 47;
}
.EditProfile .upload-photo {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.14px;
  z-index: 48;
}
.EditProfile .image {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  background: url(./icon_Images/a6559ae5ca8992fbf311f741c47a3c22e1ce0ec6.png)
    no-repeat center;
  background-size: cover;
  z-index: 44;
}
.EditProfile .image-size {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 200px;
  height: 32px;
  color: #6e7484;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  z-index: 49;
}
.EditProfile .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  width: 1240px;
  z-index: 50;
}
.EditProfile .full-name-e {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 18px;
  position: relative;
  width: 940px;
  z-index: 51;
}
.EditProfile .input-field-f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  width: 461px;
  height: 76px;
  z-index: 52;
  overflow: hidden;
}
.EditProfile .gender-label {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 22px;
  color: #1d1f26;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.14px;
  z-index: 53;
}
.EditProfile .input-field-10 {
  align-self: stretch;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  min-height: 0;
  font-size: 0px;
  background: #ffffff;
  border: 1px solid #e8eaef;
  z-index: 54;
  overflow: hidden;
}
.EditProfile .gender {
  display: block;
  position: relative;
  height: 24px;
  margin: 13px 0 0 18px;
  color: #8c93a3;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 55;
}
.EditProfile .input-11 {
  position: absolute;
  width: 461px;
  height: 48px;
  top: -1px;
  left: -1px;
  background: transparent;
  border: none;
  z-index: 56;
  outline: none;
}
.EditProfile .arrow-down {
  flex-shrink: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 40px;
  left: 420px;
  opacity: 0.5;
  z-index: 60;
}
.EditProfile .arrow-down-12 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  z-index: 61;
}
.EditProfile .arrow-down-13 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./icon_Images/3542eaf4-c17e-4b99-91c1-57d76893079c.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 62;
}
.EditProfile .input-field-14 {
  flex-shrink: 0;
  position: relative;
  width: 461px;
  height: 48px;
  font-size: 0px;
  background: #ffffff;
  border: 1px solid #e8eaef;
  z-index: 57;
  overflow: hidden;
}
.EditProfile .country-label {
  display: block;
  position: relative;
  height: 24px;
  margin: 12px 0 0 18px;
  color: #8c93a3;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 58;
}
.EditProfile .input-15 {
  position: absolute;
  width: 461px;
  height: 48px;
  top: -1px;
  left: -1px;
  background: transparent;
  border: none;
  z-index: 59;
  outline: none;
}
.EditProfile .country {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: absolute;
  width: 53px;
  height: 22px;
  top: 0;
  left: 479px;
  color: #1d1f26;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.14px;
  z-index: 63;
}
.EditProfile .title-16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  width: 1240px;
  z-index: 64;
}
.EditProfile .biography {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 22px;
  color: #1d1f26;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.14px;
  z-index: 65;
}
.EditProfile .input-field-17 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 120px;
  background: #ffffff;
  border: 1px solid #e8eaef;
  z-index: 66;
  overflow: hidden;
}
.EditProfile .bio-description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 11px;
  left: 17px;
  color: #8c93a3;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 67;
}
.EditProfile .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 158px;
  padding: 0 24px 0 24px;
  cursor: pointer;
  background: #8d6ff8;
  border: none;
  z-index: 68;
  border-radius: 5px;
}
.EditProfile .save-changes {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 48px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  letter-spacing: -0.13px;
  z-index: 69;
}
.EditProfile .notification-change-password {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 1320px;
  z-index: 70;
}
.EditProfile .notifications-18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 648px;
  padding: 39px 32px 39px 32px;
  background: #ffffff;
  z-index: 71;
}
.EditProfile .notifications-19 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 584px;
  height: 32px;
  color: #1d1f26;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 72;
}
.EditProfile .notifications-1a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 584px;
  z-index: 73;
}
.EditProfile .notification {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 584px;
  z-index: 74;
}
.EditProfile .check-box {
  flex-shrink: 0;
  position: relative;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border: 1px solid #cdd0d8;
  z-index: 75;
}
.EditProfile .label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 558px;
  height: 22px;
  color: #6e7484;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.14px;
  z-index: 76;
}
.EditProfile .notification-1b {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 584px;
  z-index: 77;
}
.EditProfile .check-box-1c {
  flex-shrink: 0;
  position: relative;
  width: 18px;
  height: 18px;
  background: #8d6ff8;
  z-index: 78;
}
.EditProfile .check {
  position: relative;
  width: 14px;
  height: 14px;
  margin: 2px 0 0 2px;
  z-index: 79;
}
.EditProfile .check-1d {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./icon_Images/ad313b6f-ebd4-47cf-ab0f-a8cd1ce7ccfc.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 80;
}
.EditProfile .label-1e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 558px;
  height: 22px;
  color: #1d1f26;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.14px;
  z-index: 81;
}
.EditProfile .notification-1f {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 584px;
  z-index: 82;
}
.EditProfile .check-box-20 {
  flex-shrink: 0;
  position: relative;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border: 1px solid #cdd0d8;
  z-index: 83;
}
.EditProfile .label-21 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 558px;
  height: 22px;
  color: #6e7484;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.14px;
  z-index: 84;
}
.EditProfile .notification-22 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 584px;
  z-index: 85;
}
.EditProfile .check-box-23 {
  flex-shrink: 0;
  position: relative;
  width: 18px;
  height: 18px;
  background: #8d6ff8;
  z-index: 86;
}
.EditProfile .check-24 {
  position: relative;
  width: 14px;
  height: 14px;
  margin: 2px 0 0 2px;
  z-index: 87;
}
.EditProfile .check-25 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./icon_Images/be39b709-2c08-4d4f-9b31-ce08d0deff19.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 88;
}
.EditProfile .label-26 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 558px;
  height: 22px;
  color: #1d1f26;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.14px;
  z-index: 89;
}
.EditProfile .notification-27 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 584px;
  z-index: 90;
}
.EditProfile .check-box-28 {
  flex-shrink: 0;
  position: relative;
  width: 18px;
  height: 18px;
  background: #8d6ff8;
  z-index: 91;
}
.EditProfile .check-29 {
  position: relative;
  width: 14px;
  height: 14px;
  margin: 2px 0 0 2px;
  z-index: 92;
}
.EditProfile .check-2a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./icon_Images/bb64b802-f8a4-47ae-ae47-a8e04753dfaf.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 93;
}
.EditProfile .label-2b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 558px;
  height: 22px;
  color: #1d1f26;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.14px;
  z-index: 94;
}
.EditProfile .notification-2c {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 584px;
  z-index: 95;
}
.EditProfile .check-box-2d {
  flex-shrink: 0;
  position: relative;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border: 1px solid #8d6ff8;
  z-index: 96;
}
.EditProfile .label-2e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 558px;
  height: 22px;
  color: #1d1f26;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.14px;
  z-index: 97;
}
.EditProfile .notification-2f {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 584px;
  z-index: 98;
}
.EditProfile .check-box-30 {
  flex-shrink: 0;
  position: relative;
  width: 18px;
  height: 18px;
  background: #8d6ff8;
  z-index: 99;
}
.EditProfile .check-31 {
  position: relative;
  width: 14px;
  height: 14px;
  margin: 2px 0 0 2px;
  z-index: 100;
}
.EditProfile .check-32 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./icon_Images/2ccfb5d8-3345-4da7-acf7-d85a2d59cabe.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 101;
}
.EditProfile .label-33 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 558px;
  height: 22px;
  color: #1d1f26;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.14px;
  z-index: 102;
}
.EditProfile .buttons-34 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 158px;
  padding: 0 24px 0 24px;
  cursor: pointer;
  background: #8d6ff8;
  border: none;
  z-index: 103;
  border-radius: 5px;
}
.EditProfile .button {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 48px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  letter-spacing: -0.13px;
  z-index: 104;
}
.EditProfile .change-password {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 648px;
  padding: 32px 32px 32px 32px;
  background: #ffffff;
  z-index: 105;
}
.EditProfile .change-password-35 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 584px;
  height: 32px;
  color: #1d1f26;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 106;
}
.EditProfile .input-field-36 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 18px;
  position: relative;
  width: 584px;
  z-index: 107;
}
.EditProfile .input-field-37 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  width: 584px;
  height: 76px;
  z-index: 108;
  overflow: hidden;
}
.EditProfile .label-38 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 22px;
  color: #1d1f26;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.14px;
  z-index: 109;
}
.EditProfile .input-field-39 {
  align-self: stretch;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
  border: 1px solid #e8eaef;
  z-index: 110;
  overflow: hidden;
}
.EditProfile .input-3a {
  position: absolute;
  width: 584px;
  height: 48px;
  top: -1px;
  left: -1px;
  background: transparent;
  border: none;
  z-index: 114;
  outline: none;
}
.EditProfile .label-3b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: calc(50% - 13px);
  left: 17px;
  color: #8c93a3;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 111;
}
.EditProfile .eye {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 17px;
  transform: translate(0, -54.17%);
  z-index: 112;
}
.EditProfile .eye-3c {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./icon_Images/0ca36b03-36dd-48a5-a075-f7c3145f200f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 113;
}
.EditProfile .input-field-3d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  width: 584px;
  height: 76px;
  z-index: 115;
  overflow: hidden;
}
.EditProfile .label-3e {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 22px;
  color: #1d1f26;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.14px;
  z-index: 116;
}
.EditProfile .input-field-3f {
  align-self: stretch;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
  border: 1px solid #e8eaef;
  z-index: 117;
  overflow: hidden;
}
.EditProfile .input-40 {
  position: absolute;
  width: 584px;
  height: 48px;
  top: -1px;
  left: -1px;
  background: transparent;
  border: none;
  z-index: 121;
  outline: none;
}
.EditProfile .label-41 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: calc(50% - 13px);
  left: 17px;
  color: #8c93a3;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 118;
}
.EditProfile .eye-42 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 17px;
  transform: translate(0, -54.17%);
  z-index: 119;
}
.EditProfile .eye-43 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./icon_Images/fd37b5d1-a989-4739-8b7a-6b4d872f09fb.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 120;
}
.EditProfile .input-field-44 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  width: 584px;
  height: 76px;
  z-index: 122;
  overflow: hidden;
}
.EditProfile .label-45 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 22px;
  color: #1d1f26;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.14px;
  z-index: 123;
}
.EditProfile .input-field-46 {
  align-self: stretch;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
  border: 1px solid #e8eaef;
  z-index: 124;
  overflow: hidden;
}
.EditProfile .input-47 {
  position: absolute;
  width: 584px;
  height: 48px;
  top: -1px;
  left: -1px;
  background: transparent;
  border: none;
  z-index: 128;
  outline: none;
}
.EditProfile .label-48 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: calc(50% - 13px);
  left: 17px;
  color: #8c93a3;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 125;
}
.EditProfile .eye-49 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 17px;
  transform: translate(0, -54.17%);
  z-index: 126;
}
.EditProfile .eye-4a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./icon_Images/c7013dfc-5d75-4329-92b6-f8f117368c78.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 127;
}
.EditProfile .buttons-4b {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 158px;
  padding: 0 24px 0 24px;
  cursor: pointer;
  background: #8d6ff8;
  border: none;
  z-index: 129;
  border-radius: 5px;
}
.EditProfile .button-4c {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 48px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  letter-spacing: -0.13px;
  z-index: 130;
}
.EditProfile .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
  width: 1440px;
  margin: 123px 0 0 0;
  z-index: 131;
}
.EditProfile .container {
  flex-shrink: 0;
  position: relative;
  width: 1440px;
  height: 521px;
  z-index: 132;
}
.EditProfile .line {
  position: relative;
  width: 1170px;
  height: 0.5px;
  margin: 421.75px 0 0 135px;
  background: url(./icon_Images/f099b30d-3605-43f4-81f2-1e620e22461e.png)
    no-repeat center;
  background-size: cover;
  z-index: 137;
}
.EditProfile .copyright {
  display: block;
  position: relative;
  height: 22px;
  margin: 46.75px 0 0 551px;
  color: #ecebe9;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 179;
}
.EditProfile .bg {
  position: absolute;
  width: 1440px;
  height: 521px;
  top: 0;
  left: 0;
  z-index: 133;
}
.EditProfile .bg-4d {
  position: relative;
  width: 1440px;
  height: 43px;
  margin: 0 0 0 0;
  z-index: 134;
}
.EditProfile .box {
  position: absolute;
  width: 1440px;
  height: 43px;
  top: 0;
  left: 0;
  background: #f9f9f9;
  z-index: 135;
}
.EditProfile .bg-4e {
  position: absolute;
  width: 1440px;
  height: 521px;
  bottom: 0;
  left: 50%;
  background: #1c2128;
  transform: translate(-50%, 0);
  z-index: 136;
}
.EditProfile .about-us {
  position: absolute;
  width: 354px;
  height: 233px;
  top: 114px;
  left: 135px;
  font-size: 0px;
  z-index: 138;
}
.EditProfile .about-us-4f {
  display: block;
  position: relative;
  height: 29px;
  margin: 0 0 0 0;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  white-space: nowrap;
  z-index: 159;
}
.EditProfile .description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 354px;
  height: 121px;
  margin: 38px 0 0 0;
  color: #ecebe9;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 23.8px;
  text-align: left;
  z-index: 160;
}
.EditProfile .social-media-logo {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 6px;
  position: relative;
  width: 170px;
  margin: 7px 0 0 0;
  z-index: 139;
}
.EditProfile .facebook {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 38px;
  z-index: 140;
}
.EditProfile .round {
  flex-shrink: 0;
  position: relative;
  width: 38px;
  height: 38px;
  background: url(./icon_Images/2d03c5ef-4d32-4117-bb2c-04f22eb7663d.png)
    no-repeat center;
  background-size: cover;
  z-index: 141;
  border-radius: 50%;
}
.EditProfile .facebook-outline {
  flex-shrink: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 9px;
  left: 9px;
  z-index: 142;
  overflow: hidden;
}
.EditProfile .vector {
  position: relative;
  width: 8.658px;
  height: 16.667px;
  margin: 1.666px 0 0 5.509px;
  background: url(./icon_Images/0143ffdd-4e55-4f36-bd6a-bfe6699ddae3.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 143;
}
.EditProfile .twitter {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 38px;
  z-index: 144;
}
.EditProfile .round-50 {
  flex-shrink: 0;
  position: relative;
  width: 38px;
  height: 38px;
  background: url(./icon_Images/be193097-5b23-4720-9c23-105570f341df.png)
    no-repeat center;
  background-size: cover;
  z-index: 145;
  border-radius: 50%;
}
.EditProfile .twitter-outline {
  flex-shrink: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 9px;
  left: 9px;
  z-index: 146;
  overflow: hidden;
}
.EditProfile .vector-51 {
  position: relative;
  width: 16.667px;
  height: 13.568px;
  margin: 3.207px 0 0 1.667px;
  background: url(./icon_Images/24820bb3-7dcc-450d-95a5-3871f8aacb2f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 147;
}
.EditProfile .instagram {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 38px;
  z-index: 148;
}
.EditProfile .round-52 {
  flex-shrink: 0;
  position: relative;
  width: 38px;
  height: 38px;
  background: url(./icon_Images/7f6d93fd-c9ec-4a78-807c-b8d2a5446bd9.png)
    no-repeat center;
  background-size: cover;
  z-index: 149;
  border-radius: 50%;
}
.EditProfile .instagram-53 {
  flex-shrink: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 9px;
  left: 9px;
  z-index: 150;
  overflow: hidden;
}
.EditProfile .vector-54 {
  position: relative;
  width: 16.667px;
  height: 16.667px;
  margin: 1.666px 0 0 1.667px;
  background: url(./icon_Images/9d0d5575-660b-47c3-93d1-00a7e3669d02.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 151;
}
.EditProfile .linkedin {
  flex-shrink: 0;
  position: relative;
  width: 38px;
  height: 38px;
  z-index: 152;
}
.EditProfile .linkedin-55 {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 9px 0 0 9px;
  z-index: 154;
  overflow: hidden;
}
.EditProfile .brand-logos {
  position: relative;
  width: 16.176px;
  height: 16.221px;
  margin: 2.111px 0 0 2.172px;
  z-index: 155;
  overflow: visible auto;
}
.EditProfile .vector-56 {
  position: relative;
  width: 4.019px;
  height: 3.728px;
  margin: 0 0 0 0;
  background: url(./icon_Images/4cc3ccb2-7515-4d2f-bbd7-5975b764631f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 156;
}
.EditProfile .flex-row-e {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 15.833px;
  height: 10px;
  margin: 2.493px 0 0 0.34px;
  z-index: 158;
}
.EditProfile .vector-57 {
  flex-shrink: 0;
  position: relative;
  width: 3.333px;
  height: 10px;
  background: url(./icon_Images/7d5f0598-304e-47b5-9e1b-f14b2d24e800.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 157;
}
.EditProfile .vector-58 {
  flex-shrink: 0;
  position: relative;
  width: 10px;
  height: 10px;
  background: url(./icon_Images/c6df16b5-70b1-4b68-b0f8-36c59d43502c.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 158;
}
.EditProfile .round-59 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 0;
  left: 0;
  background: url(./icon_Images/79483557-85e5-4ec2-b2a5-325428b8ae4b.png)
    no-repeat center;
  background-size: cover;
  z-index: 153;
  border-radius: 50%;
}
.EditProfile .quick-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 114px;
  left: 560px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  white-space: nowrap;
  z-index: 161;
}
.EditProfile .services {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 114px;
  left: 767px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  white-space: nowrap;
  z-index: 165;
}
.EditProfile .contact {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 114px;
  left: 1037px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  white-space: nowrap;
  z-index: 176;
}
.EditProfile .line-5a {
  position: absolute;
  width: 47px;
  height: 3px;
  top: 157.5px;
  left: 560px;
  background: url(./icon_Images/cd27c1b0-50b6-4659-a31f-d418c100d0d0.png)
    no-repeat center;
  background-size: cover;
  z-index: 162;
}
.EditProfile .line-5b {
  position: absolute;
  width: 47px;
  height: 3px;
  top: 157.5px;
  left: 135px;
  background: url(./icon_Images/aac8c3a3-8100-430b-9afa-412a5fc2997e.png)
    no-repeat center;
  background-size: cover;
  z-index: 164;
}
.EditProfile .line-5c {
  position: absolute;
  width: 47px;
  height: 3px;
  top: 157.5px;
  left: 767px;
  background: url(./icon_Images/83d06bae-3d72-4c2b-87fa-062211d41706.png)
    no-repeat center;
  background-size: cover;
  z-index: 166;
}
.EditProfile .line-5d {
  position: absolute;
  width: 47px;
  height: 3px;
  top: 157.5px;
  left: 1037px;
  background: url(./icon_Images/4ae6fd5f-5bf7-4b44-8241-296873e7166f.png)
    no-repeat center;
  background-size: cover;
  z-index: 177;
}
.EditProfile .calendar-favourites-notifications {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 115px;
  height: 180px;
  top: 175px;
  left: 560px;
  color: #ecebe9;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 37.24px;
  text-align: left;
  z-index: 163;
}
.EditProfile .diet-plans-workout-plans-tracking {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 185px;
  height: 180px;
  top: 175px;
  left: 767px;
  color: #ecebe9;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 37.24px;
  text-align: left;
  z-index: 167;
}
.EditProfile .subscribe-newsletter-latest {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 235px;
  height: 49px;
  top: 175px;
  left: 1037px;
  color: #ecebe9;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 22.4px;
  text-align: left;
  z-index: 178;
}
.EditProfile .sign-up {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 16px;
  position: absolute;
  width: 315px;
  height: 56px;
  top: 248px;
  left: 1037px;
  z-index: 168;
}
.EditProfile .sign-up-5e {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 50px;
  position: relative;
  width: 315px;
  z-index: 169;
}
.EditProfile .message {
  flex-shrink: 0;
  position: relative;
  width: 147px;
  height: 36px;
  z-index: 170;
}
.EditProfile .support-email {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  color: #ecebe9;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  z-index: 171;
}
.EditProfile .button-5f {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 118px;
  height: 40px;
  padding: 16px 20px 16px 20px;
  cursor: pointer;
  background: #8d6ff8;
  border: none;
  z-index: 172;
  border-radius: 5px;
}
.EditProfile .frame-60 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 9px;
  position: relative;
  width: 90px;
  z-index: 173;
}
.EditProfile .contact-us {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 90px;
  height: 26px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 25.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 174;
}
.EditProfile .line-61 {
  flex-shrink: 0;
  position: relative;
  width: 315px;
  height: 0.4px;
  background: url(./icon_Images/0c14d43d-7f73-4bc2-a932-29317f15fec8.png)
    no-repeat center;
  background-size: cover;
  z-index: 175;
}
