/* Start Recommended -----------------------------------*/
.Recommended .Recommended-title h2 {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.4em;
  color: #524ff5;
}
.Recommended .Recommended-title h3 {
  font-size: 33.75px;
  font-weight: 700;
  color: #1b2129;
}
/* End Recommended -----------------------------------*/
