/* Start OverviewDiet col2   ###############################################*/
.OverviewDiet .special-exercises {
  border: 1px solid #eee;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.OverviewDiet .special-exercises .exercises-box .text-box div button {
  border: 1px solid #8d6ff8;
  width: 40px;
  height: 35px;
  background: #8d6ff8;
  color: white;
}
.OverviewDiet
  .special-exercises
  .exercises-box
  .text-box
  div
  button:first-child {
  border-radius: 50% 0 0 50%;
  -webkit-border-radius: 50% 0 0 50%;
  -moz-border-radius: 50% 0 0 50%;
  -ms-border-radius: 50% 0 0 50%;
  -o-border-radius: 50% 0 0 50%;
}
.OverviewDiet
  .special-exercises
  .exercises-box
  .text-box
  div
  button:last-child {
  border-radius: 0 50% 50% 0;
  -webkit-border-radius: 0 50% 50% 0;
  -moz-border-radius: 0 50% 50% 0;
  -ms-border-radius: 0 50% 50% 0;
  -o-border-radius: 0 50% 50% 0;
}
.OverviewDiet .special-exercises .exercises-box .text-box div button:hover {
  background: white;
  color: #8d6ff8;
}
.OverviewDiet .plan .col .card .card-body h5 + button {
  background: #8d6ff8;
  color: white;
}
