.Chart {
  box-shadow: 0px 22.5px 37.5px 0px #00000012;
  margin: 10px 0;
  padding: 25px 25px 0 25px;

  border: 0.75px solid #c4c0bb;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
@media screen and (min-width: 998px) {
  .Chart {
    min-width: 666px;
  }
}
.Chart div.TitleChart h2 {
  color: #868179;
  font-size: 18.75px;
  font-weight: 500;
}
.Chart div.TitleChart h3 {
  color: #8d6ff8;
  font-size: 22.5px;
  font-weight: 600;
}
