/* Start header -----------------------------------*/
.Home .link a {
  font-size: 17px;
  font-weight: 600;
}
.Home .link a.active {
  color: var(--frist-color, #8d6ff8);
}
.Home .link a:hover {
  color: var(--frist-color, #8d6ff8);
}

.Home .profile img {
  width: 39px;
  height: 41.25px;
  margin-right: 12.75px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.Home .profile img {
  width: 39px;
  height: 41.25px;
  margin-right: 12.75px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.Home .profile h3 {
  font-size: 12px;
  font-weight: 400;
  color: var(--frist-color, #8d6ff8);
  margin: 0;
}
.Home .profile button.dropdown-profile {
  background: transparent;
  border: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.Home .profile button.dropdown-profile svg {
  color: var(--frist-color, #8d6ff8);
  margin-left: 4px;
}
.hidden {
  display: none;
}
.visible {
  display: block;
  position: fixed;
}
.Home .profile h3 + a {
  font-size: 12px;
  font-weight: bold;
}
.Home .profile ul {
  list-style: none;
  background: #2b333d;
  right: 35px;
  top: 116px;
  border-radius: 7.5px;
  width: 217.5px;
  padding: 27px 18px;
}
.Home .profile ul a {
  font-size: 15px;
  font-weight: 500;
  color: white;
}
.Home .profile ul a:hover,
.Home .profile ul a:hover svg {
  color: var(--frist-color, #8d6ff8);
}
.Home .profile li svg {
  width: 22.5px;
  height: 22.5px;
  margin-right: 34.5px;
  color: #ffffff78;
}
@media screen and (max-width: 768px) {
  .Home .profile {
    margin-top: 12px;
  }
  .Home .profile ul {
    left: 35px;
    top: 160px;
  }
}
@media screen and (max-width: 544px) {
  .Home .profile ul {
    width: calc(100% - 70px);
  }
}
@media screen and (max-width: 485px) {
  .Home .profile ul {
    top: 194px;
  }
}
/* End header -----------------------------------*/
