.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slider-wrapper {
  display: flex;
  padding: 20px 0;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
}
.slider-slide {
  min-width: 520px;
  min-height: 349px;
  margin: 0 96px;
  padding: 20px 10px;
  cursor: pointer;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
@media (max-width: 768px) {
  .slider-slide {
    min-width: 300px; /* Adjusted to fit smaller screens better */
    min-height: 200px; /* Adjusted to fit smaller screens better */
    margin: 0 20px; /* Adjusted margin for better spacing on smaller screens */
  }
}

.slider-controls {
  max-width: 300px;
  margin: 40px auto;
}
.slider-button {
  border: none;
  background: transparent;
}
.slider-button svg {
  height: 57px;
  color: #485059;
}
.slider-button:hover > svg {
  color: #8d6ff8;
}
/* start Recent   ###############################################*/
.slider-container h2 {
  color: #524ff5;
  margin: 68px 0;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 10px;
}
.slider-container .card {
  cursor: pointer;
  box-shadow: 0px 10px 40px 0px #00000012;
  width: 410px;
  border: none;
}
.slider-container .card > img {
  height: 280px;
}
.slider-container .card .card-body {
  text-transform: capitalize;
  margin: 20px 20px 20px 25px;
  padding: 0;
}
.slider-container .card .card-body h4 {
  font-size: 20px;
  font-weight: 400;
}
.slider-container .card .card-body p {
  color: #6a6a6a;
  font-size: 15px;
  font-weight: 400;
}
.slider-container .card .card-body div {
  color: #8d6ff8;
  font-size: 15px;
  font-weight: 500;
}
.slider-container .card .card-body div span {
  margin-left: 20px;
}
.slider-container .card {
  transition: scale 0.25s ease-in, opacity 0.25s ease-in, filter 0.25s ease-in;
  -webkit-transition: scale 0.25s ease-in, opacity 0.25s ease-in,
    filter 0.25s ease-in;
  -moz-transition: scale 0.25s ease-in, opacity 0.25s ease-in,
    filter 0.25s ease-in;
  -ms-transition: scale 0.25s ease-in, opacity 0.25s ease-in,
    filter 0.25s ease-in;
  -o-transition: scale 0.25s ease-in, opacity 0.25s ease-in,
    filter 0.25s ease-in;
}
.slider-container .card:hover {
  box-shadow: 0px 10px 40px 0px #00000075;
}
.slider-container .card:has(.card:hover) .card:not(:hover) {
  opacity: 0.3;
}

/* End Recent   ###############################################*/
/* start Diet Plan   ###############################################*/
.slider-container .card .Diet-card-text h5 {
  font-size: 15px;
  font-weight: 500;
  color: black;
  margin: 0;
}
.slider-container .card .Diet-card-text h5 span {
  font-weight: 600;
  font-size: 13px;
  margin: 0;
  color: #8d6ff8;
}

/* End Diet Plan   ###############################################*/
